<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"      "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Scripts</key>
    <array>
        <string>simian/test.py</string>
    </array>
    <key>Name</key>
    <string>simian-migration.pkg</string>
    <key>Identifier</key>
    <string>org.reallifechurch.simian-migration.pkg</string>
    <key>LaunchDaemonIdentifier</key>
    <string>org.reallifechurch.simian-migration</string>
    <key>Version</key>
    <string>1.0</string>
    <key>Network</key>
    <false/>
    <key>Output</key>
    <string>./</string>
    <key>RetryCount</key>
    <integer>5</integer>
    <key>SleepCount</key>
    <integer>10</integer>
</dict>
</plist>
