<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"      "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Scripts</key>
    <array>
        <string>pkgs/configure_wifi/Configure_Wifi.pkg</string>
        <string>pkgs/outset/outset-1.0.1.pkg</string>
        <string>pkgs/migrate_scriptrunner/scriptRunnerToOutset.pkg</string>
        <string>pkgs/scriptrunner_initialconfig/initialconfig.pkg</string>
        <string>pkgs/uninstall_munki/uninstall_munki.pkg</string>
        <string>pkgs/remove_profiles/removeprofiles.pkg</string>
        <string>pkgs/puppet_bootstrap/install_puppet.pkg</string>
        <string>pkgs/bootstrap_munki/bootstrap_munki.pkg</string>
        <string>pkgs/run_puppet/run_puppet.pkg</string>
    </array>
    <key>Name</key>
    <string>simian-migration.pkg</string>
    <key>Identifier</key>
    <string>org.reallifechurch.simian-migration.pkg</string>
    <key>LaunchDaemonIdentifier</key>
    <string>org.reallifechurch.simian-migration</string>
    <key>Version</key>
    <string>1.0</string>
    <key>Network</key>
    <false/>
    <key>Output</key>
    <string>./</string>
    <key>RetryCount</key>
    <integer>5</integer>
    <key>SleepCount</key>
    <integer>10</integer>
</dict>
</plist>
